body{
    background-color:rgba(255, 255, 255, 1) ;
}
.card-section{
    margin: 0 auto;
    text-align: center;
}


.card-container{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.card{
width:322px;
height:300px;
padding:50px 24px;
border:2px solid rgba(247, 246, 242, 1) ;
border-radius:8px ;
box-shadow:8px -8px 8px rgba(0, 0, 0, 0.06);

}

.card img{
    border-radius: 100%;
    padding: 14px;
    background-color:rgba(249, 85, 85, 1) ;
    width:60px ;
    height:60px ;
}


.card h3{
    font-size: 24px;
    font-weight: 600;
}
.cardheader{
    padding-top: 54px;
    padding-bottom: 44px;
}
.card p{padding-top: 15px;
    font-size: 14px;
    color: gray;
}

.cardheader p{
    padding-top: 10px;
    color: gray;
}

.cardheader h1{
    font-size: 48px;
    font-weight: 700;
}