.solparent{
    display: flex;
    width: 85%;
    max-width: 1360;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:120px 0px;
}

.slist li{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}

.solution{
    margin-left: 60px;
}

#ss{
    color:#30b868 ;
    font-weight: 500;
    font-size: 16px;
}

#tt{
    padding: 20px 0px;
    font-weight: 700;
    font-size: 48px;
}
#pp{
    font-size: 16px; color:grey; margin-right: 200px;
}

.slist{
    padding-top: 40px;
}

footer{
    background-image: linear-gradient(rgba(0, 25, 49, 1));
    background-color: #001931;
    padding: 30px 0px;
}
#logosocial{
    display: flex;
    justify-content: space-between;
    padding: 90px 120px 80px 0px;
}
.ftrdiv{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
}
#st {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.icons a{
    border: none;
    background-color: white;
    border-radius: 100%;
    padding: 1px;
    margin-right: 12px;
}

#credit{
    font-size: 16px;
    color: white;
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 30px;
}